{% extends 'pages/quantri.html' %}
{% load static %}
{% block    title %} Thêm Loại Hàng {% endblock %} 
{% block    css %}
<link rel="stylesheet" href="{% static 'css/qtloai.css' %}" type="text/css">
{% endblock %}
{% block    content %}  
            <p>Loại Hàng</p>
        </div>
        <div class="row" style="background-color:#FFFFFF;height: 400px">
            <div class="col">
                <form action="/loaihangreturn" class="form-contact" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3" style="width: 155px;">
                        <label for="exampleFormControlInput1" class="form-label">Tên Loại Hàng</label>
                        <input type="text" name="tenloaihang" placeholder="Loại Hàng" >
                    </div>
                    <input type="submit" value="Lưu">
                </form>
            </div>
            <div class="col">
               
                <form action="/loaihangreturn"  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="file" value="file" hidden>
                    <label for="exampleFormControlInput1" class="form-label">Nhâp Loại Hàng Bằng FILES EXCEL</label><br>
                    <label for="exampleFormControlInput1" class="form-label">Các trường id(để trống),loai_ten</label>
                    <input  type="file" name="loai" > 
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </form>
            </div>
            {% if alert == 1 %}
                <script> alert("Sai Định Dạng File")</script>
            {% endif %}
            
           
        </div>
       







      </div>                 
</div>     
{% endblock %}