{% extends 'pages/quantri.html' %}
{% load static %}
{% block    title %} Thêm sản phẩm {% endblock %} 
{% block    css %}
<link rel="stylesheet" href="{% static 'css/qtsanpham.css' %}" type="text/css">
{% endblock %}
{% block    content %}  
            <p>Thêm Sản Phẩm</p>
        </div>
        <div class="row g-1 card">
          <div class="col">
            <form action="/sanphamreturn"  method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="text" name="filesp" value="filesp" hidden>
              <label for="exampleFormControlInput1" class="form-label">Nhâp Sản Phẩm Bằng FILES EXCEL</label>
              <br>
              <label for="exampleFormControlInput1" class="form-label">Các trường id(để trống),loai_ten</label>
              <br>
              <input  type="file" name="filesanpham" > 
            <button type="submit" class="btn btn-primary">Lưu</button>
          </form>

          </div>
          <hr  width="30%" size="5px" align="center" />
         
          <div class="col" >
          <form  class="row g-2" action="/sanphamreturn" class="form-contact" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                  <div class="col-6">
                  <label for="inputAddress" class="form-label">Tên Sản Phẩm</label>
                  <input type="text" class="form-control" name="tensanpham" placeholder="tên sản phẩm">
                  </div>
                  <div class="col-6">
                      <label for="inputAddress" class="form-label">Loại Sản Phẩm</label>
                      <select name="loai" class="form-select">
                          <option selected>Danh Sách Các Loại</option>
                          {% for loaihang in loai %}
                          <option value={{loaihang.id}}> {{loaihang.loai_ten}} </option>
                          {% endfor %}
                        </select>
                      </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Số Lượng</label>
                  <input type="number" class="form-control" name="soluong">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Giá</label>
                  <input type="number" class="form-control" name="gia">
                </div>
                
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">Ảnh Sản Phẩm</label>
                  <input required   name="images" type="file" multiple  class="form-control" >
                </div>
                <div class="col-md-12">
                  <label for="inputPassword4" class="form-label">Mô Tả</label>
                  <input type="text" class="form-control" name="mota">
                </div>
                
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div> -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
          </form> 

          </div>
          

            
        </div>              
</div>     
{% endblock %}